@page "/detail/{Id}"
@using WorkingWithComponents.MyComponents
<h3>DetailPage</h3>
<CountriesComponent Id="@Id"></CountriesComponent>

@code {

    [Parameter()]
    public string Id { get; set; }

}
