@page "/"
@using WorkingWithComponents.MyComponents

<MyComponent1 @bind-SomeValue="@SomeField">

</MyComponent1>
@switch (SomeField)
{
    case "A":
        <p>A</p>
        break;
    case "B":
        <p>B</p>
        break;
    default:
        <p>............?</p>
        break;
}
@code {
    private string SomeField = "A";
}
