@page "/page2"

<h3>MySecondPage</h3>

@code {

    protected override void OnInitialized()
    {
      
    }

    protected override void OnParametersSet()
    {
       
    }

    protected override void OnAfterRender(bool firstRender)
    {
         
    }
}
